:root {
    font-size: 10px;
    --color-orange-btn: #FF6C01;
    --color-green-btn: #00D008;
    --color-bg: #ECECEC;
    --color-fs: #999999;
}

body {
    background-color: var(--color-bg);
}

header {
    background-color: #FFFFFF;
}

.color-fs {
    color: var(--color-fs);
}

.custom-color-orange {
    background-color: var(--color-orange-btn);
}
.custom-color-orange:hover, .custom-color-orange:active {
    background-color: #d95b00;
}

.custom-color-green {
    background-color: var(--color-green-btn);
}
.custom-color-green:hover {
    background-color: #00b307;
}

.space_beetween {
    justify-content: space-between;
}

.height-header {
    height: 10rem;
}
.height-custom {
    height: 14rem;
}
.box-shadow-custom {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
    .col-md-6-custom {
        width: 45%;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-4-custom {
     width: 30%;
    }
}

.card-body svg:hover path {
    fill: #00D008;
    stroke: none;
}

.card-hover {
    display: none;
}
.card:hover .card-hover {
    display: block;
}
.card:hover .card-price {
    display: none;
} 
